html,
body {
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  background: #c83939;
}

.nav-buttons-white {
  color: white;
}

.register-prompt-text {
  font-size: 20px;
}

.landing-buttons {
  margin-top: 100px;
}

.landing-button:last-child {
  margin-left: 50px;
}
